
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background-color: #222222
}

.chat_window {
  max-height: 600px;
  min-height: 600px;
  border-radius: 5px;
  border: 3px solid #333333;
  background-color: #444444;
  overflow: auto;
}



</style>
</head>
<body>

<h1>Hello everyone!</h1>

<div class = 'chat_window'>
  <h2>You can choose short polling or long polling bot messanger</h2>
    <form method="get" action="/short_polling">
      <button type="submit">Short Polling</button>
    </form>
    <form method="get" action="/long_polling">
      <button type="submit">Long Polling</button>
    </form>
    <form method="get" action="https://socket-chat-bot.herokuapp.com/socket_chat">
      <button type="submit">Socket</button>
      <p>(The button of socket chat maybe unavailble, it's working on different proccess.)</p>
    </form>
</div>


</body>
</html>
